<div class="container-fluid">
    <div class="mt-4"></div>
    <div class="row">
        <div class="col-sm">
            <h5 class="text-center">Pie</h5>
            <div id="pie_chart"></div>
        </div>
        <div class="col-sm">
            <h5 class="text-center">3D Pie</h5>
            <div id="3d_pie_chart"></div>
        </div>
        <div class="col-sm">
            <h5 class="text-center">Donut</h5>
            <div id="donut_chart"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h5 class="text-center">Bar</h5>
            <div id="bar_chart"></div>
        </div>
        <div class="col-sm">
            <h5 class="text-center">Line</h5>
            <div id="line_chart"></div>
        </div>
        <div class="col-sm">
            <h5 class="text-center">Column</h5>
            <div id="column_chart"></div>
        </div>
    </div>
</div>
